<footer>
  <div class="footer-center">
    <div class="footer-contact">
      <h3>CONTACT</h3>
      <p>Webook.mail</p>
    </div>
    <div class="footer-profil">
      <h3>PROFIL</h3>
    </div>
    <div class="footer-plan-site">
      <h3>PLAN DU SITE</h3>
      <ul>
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/search">Recherche</a></li>
        <li><a routerLink="/messages">Conversations</a></li>
        <li><a routerLink="/guide">Guide</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>2023 WeBook</p>
  </div>
</footer>
