<header>
  <div class="flex-container">
    <div class="links">
      <a class="webook" routerLink="/home">WeBooK</a>
      <a class="desktopLinks" routerLink="/search" routerLinkActive="active">Chercher</a>
      <a class="desktopLinks" routerLink="/addBook" routerLinkActive="active">Publier</a>
    </div>

    <div class="btns-container">
      <button mat-flat-button class="logInBtn" *ngIf="!isLoggedIn" routerLink="/login">Se connecter</button>
      <button class="msgBtn" *ngIf="isLoggedIn" routerLink="/conversation">
        <img
          src="assets/message.png"
          alt="messages et conversations">
      </button>
      <button class="profileBtn" *ngIf="isLoggedIn" routerLink="/profile">
        <img
          [src]="!user.profilePicture ? defaultProfilePic : getImageSrc(user.profilePicture.filename)"
          alt="your profile picture">
      </button>
      <button class="menu-button" (click)="toggleMenu()">☰</button>
    </div>
  </div>

  <div class="menu" *ngIf="isMenuOpen">
    <a *ngIf="role=='admin' && isLoggedIn" routerLink="/back-office" (click)="toggleMenu()">Dashboard</a>
    <a class="mobileLinks" routerLink="/search" (click)="toggleMenu()">Chercher</a>
    <a class="mobileLinks" routerLink="/addBook" (click)="toggleMenu()">Publier</a>
    <a routerLink="/profile" (click)="toggleMenu()">Messages</a>
    <a routerLink="/guide" (click)="toggleMenu()">Guide</a>
    <a routerLink="/login" *ngIf="isLoggedIn" (click)="onLogoff()">Se déconnecter</a>
  </div>
</header>
