@use "variables" as v;

.body {
  background-color: white;

  .btn1 {
    padding: 15px 15px;
    border: 2px solid v.$medium-green;
    background-color: v.$dark-green;
    font-size: 1rem;
    cursor: pointer;
  }
}
