$dark-green: #008080FF;
$medium-green: #ACD4D7;
$light-green: #EFF5F3;
$min-body-height: calc(100vh - 184px - clamp(60px, 8vw, 80px));
$title-font: "Cinzel Decorative", serif;
$text-font: "Mulish", serif;
$text-color: #333;
$max-screen-width: 1200px;

