<div class="search-page">
  <div class="search-container">
    <p class="search-title">Recherche avec un mot clé ou la carte</p>

    <div class="searchBar">
      <input
        #keyword
        placeholder="Titre ou auteur"
        (keyup.enter)="searchBooks(keyword.value)"
      />
      <button class="searchBtn">
        <img
          src="assets/loop.png"
          alt="loupe de recherche"
          (click)="searchBooks(keyword.value)"
        />
      </button>
    </div>
  </div>

  <button
    class="openFilters"
    *ngIf="!isFiltersMenuDisplayed"
    (click)="openFiltersMenu()"
  >
    <p>Filtres</p>
    <img src="/assets/right_arrows.png" />
  </button>

  <div class="filters" *ngIf="isFiltersMenuDisplayed">
    <button (click)="closeFiltersMenu()">
      <img src="/assets/right_arrows.png" />
    </button>
    <p>Filtrez par :</p>
    <select name="category" (change)="onCategoryChange($event)">
      <option value="">- Catégories -</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.category }}
      </option>
    </select>
  </div>

  <div class="search-result">
    <a *ngFor="let book of books" [routerLink]="['page-book', book.id]">
      <img
        class="picture-book"
        [src]="getImageSrc(book.coverImage.filename)"
        [alt]="book.title"
      />
    </a>
  </div>
</div>
